{% extends "layouts/base.html" %}

{% block content %}

<h1>Infrastructure</h1>

<table border="1" cellpadding="10">

    <tr>
        <th>Environment</th>
        <th>Server</th>
        <th>Status</th>
    </tr>

    <tr>
        <td>Production</td>
        <td>nginx-prod-01</td>
        <td>Running</td>
    </tr>

    <tr>
        <td>Production</td>
        <td>api-prod-01</td>
        <td>Running</td>
    </tr>

    <tr>
        <td>Development</td>
        <td>dev-api-01</td>
        <td>Running</td>
    </tr>

</table>

{% endblock %}