{% extends "layouts/base.html" %}

{% block content %}

<h1>Infrastructure</h1>

<h2>Environments</h2>

<table border="1" cellpadding="10">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
    </tr>

    {% for environment in environments %}
    <tr>
        <td>{{ environment.id }}</td>
        <td>{{ environment.name }}</td>
        <td>{{ environment.description }}</td>
    </tr>
    {% endfor %}

</table>
<h2>Servers</h2>

<table border="1" cellpadding="10">

    <tr>
        <th>ID</th>
        <th>Environment</th>
        <th>Hostname</th>
        <th>IP Address</th>
        <th>Operating System</th>
        <th>Status</th>
    </tr>

    {% for server in servers %}
    <tr>
        <td>{{ server.id }}</td>
        <td>{{ server.environment_name }}</td>
        <td>{{ server.hostname }}</td>
        <td>{{ server.ip_address }}</td>
        <td>{{ server.operating_system }}</td>
        <td>{{ server.status }}</td>
    </tr>
    {% endfor %}

</table>

<h2>Applications</h2>

<table border="1" cellpadding="10">

    <tr>
        <th>ID</th>
        <th>Server</th>
        <th>Application</th>
        <th>Version</th>
        <th>Status</th>
    </tr>

    {% for application in applications %}
    <tr>
        <td>{{ application.id }}</td>
        <td>{{ application.hostname }}</td>
        <td>{{ application.name }}</td>
        <td>{{ application.version }}</td>
        <td>{{ application.status }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}